@model Spp.Data.Entities.Proyecto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoNro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProyectoNro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaRuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaRuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpresaRepresentante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpresaRepresentante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMoneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMoneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FContrato)
        </dt>
        <dd class="col-sm-10">
            @*@Convert.ToDateTime(Model.FContrato).ToString("yyyy/MM/dd")*@
            @Html.DisplayFor(model => model.FContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionFinanc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionFinanc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIngreso)
        </dt>
        <dd class="col-sm-10">
            @*@Convert.ToDateTime(Model.FIngreso).ToString("yyyy/MM/dd")*@
            @Html.DisplayFor(model => model.FIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-info" asp-action="Index">Regresar</a>
</div>
